<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>PitstopOil Management</title>

  <link rel="stylesheet" href="user-history.component.css">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >


<div class="topnav">
  <a href="interface">Menu</a>
  <a  href="shop">Shop</a>
  <a href="userOrders">Orders</a>
  <a class="active" href="userHistory">History</a>
  <a href="userContact">Contact</a>
  <a href="aboutUs">About Us</a>
  <input type="text" placeholder="Search..">
</div>

<header>

  <div class="headerul">

    <iframe src="https://ntmaker.gfto.ru/newneontexten/?image_height=200&image_width=600&image_font_shadow_width=30&image_font_size=80&image_background_color=1F1F1F&image_text_color=B04AFF&image_font_shadow_color=5F14F7&image_url=http://bgfons.com/uploads/brick/brick_texture1885.jpg&image_text=History&image_font_family=Nickainley&" frameborder='no' scrolling='no' width="600" height="600"></iframe>
  </div>

</header>

<main>



  <div class="cards-list">

    <div class="card 1">
      <div class="card_image"> <img src="../../assets/oil-can-icon-2.jpg" /> </div>
      <div class="card_title">
        <p href='shop'>Shop</p>
      </div>
    </div>

    <div class="card 2">
      <div class="card_image">
        <img src="../../assets/kissclipart-petroleum-product-icon-png-clipart-motor-oil-clip-5f260e4641901df7.png" />
      </div>
      <div class="card_title title-white">
        <p>Orders</p>
      </div>
    </div>

    <div class="card 3">
      <div class="card_image">
        <img src="../../assets/engine-oil-8-971249.webp" />
      </div>
      <div class="card_title">
        <p>Products</p>
      </div>
    </div>

    <div class="card 4">
      <div class="card_image">
        <!--        <img src="../../assets/75088-200.png" />-->
      </div>
      <div class="card_title title-white">
        <p>Your Car</p>
      </div>
    </div>

  </div>


  <div class="cards-list">

    <div class="card 1">
      <div class="card_image"> <img src="../../assets/oil-can-icon-2.jpg" /> </div>
      <div class="card_title title-white">
        <p>Packages</p>
      </div>
    </div>

    <div class="card 2">
      <div class="card_image">
        <img src="../../assets/kissclipart-petroleum-product-icon-png-clipart-motor-oil-clip-5f260e4641901df7.png" />
      </div>
      <div class="card_title title-white">
        <p>Subscription</p>
      </div>
    </div>

    <div class="card 3">
      <div class="card_image">
        <img src="../../assets/engine-oil-8-971249.webp" />
      </div>
      <div class="card_title">
        <p>About Us</p>
      </div>
    </div>

    <div class="card 4">
      <div class="card_image">
        <!--        <img src="../../assets/75088-200.png" />-->
      </div>
      <div class="card_title title-white">
        <p>Car Settings</p>
      </div>
    </div>

  </div>
</main>




</body>

</html>
