<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>PitstopOil Management</title>

  <link rel="stylesheet" href="orders.component.css">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<div class="topnav">
  <a href="management">Management</a>
  <a href="users">Users</a>
  <a href="tasks">Tasks</a>
  <a class="active" href="orders">Orders</a>
  <a href="stock">Stock</a>
  <a href="products">Products</a>
  <a href="contact">Contact</a>
  <input type="text" placeholder="Search..">
</div>

<header>

</header>

<main class="card-arrange">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <h3>Orders <span></span></h3>
          <p>See the orders, delete them, or register new orders:</p>
          <a href='/addOrder' class="buttonAdd">Add</a>
          <div class="line"></div>
        </div>
      </div>
    </div>

  <div class="container" *ngFor="let order of orders " >
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>{{order.id}}</h2>
          <h3>Order No.{{order.id}}</h3>
          <p>Customer ID: {{order.userId}}</p>
          <p>{{order.priceTotal}} Lei</p>
          <p>{{order.details}}</p>
          <button class="butonRosu" (click)="deleteOrders(order)">Delete</button>
          <a class="butonUpdate" color="blue" href='/updateOrder'>Update</a>
        </div>
      </div>
    </div>

  </div>
  </div>
</main>

</body>

</html>
