<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>PitstopOil Management</title>

  <link rel="stylesheet" href="shop.component.css">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<div class="topnav">
  <a href="interface">Menu</a>
  <a class="active" href="shop">Shop</a>
  <a href="userOrders">Orders</a>
  <a href="userHistory">History</a>
  <a href="userContact">Contact</a>
  <a href="aboutUs">About Us</a>
  <input type="text" placeholder="Search..">
</div>

<header>

  <div class="headerul">

    <img src="../../assets/order111.PNG" />
  </div>

</header>



<main>



  <div class="columns">
    <ul class="price">
      <li class="header">Revizie Mica</li>
      <li class="grey">lei 550-1000</li>
      <li>Ulei+Filtre Motor</li>
      <li>Garantie 2 Ani</li>
      <li>+50 Puncte de Loialitate</li>
      <li>Posibilitate manopera zona Cluj</li>
      <li class="grey"><a href="#" class="button">Select</a></li>
    </ul>
  </div>

  <div class="columns">
    <ul class="price">
      <li class="header" style="background-color:#FFCD5C">Revizie Mare</li>
      <li class="grey">lei 1000-3000</li>
      <li>Ulei+Filtre Motor/ Diferential/ Cutie</li>
      <li>Garantie 2 ani</li>
      <li>+200 Puncte de Loialitate</li>
      <li>Posibilitate manopera zona Cluj</li>
      <li class="grey"><a href="#" class="button">Select</a></li>
    </ul>
  </div>

  <div class="columns">
    <ul class="price">
      <li class="header">Abonament</li>
      <li class="grey">lei 350-700</li>
      <li>Pachet inclus: Revizie Mica</li>
      <li>Se livreaza anual la client</li>
      <li>+150 Puncte de Loialitate</li>
      <li>Posibilitate manopera zona Cluj

        <button>Order</button></li>

      <li class="grey"><a href="#" class="button">Subscribe</a></li>
    </ul>
  </div>


</main>


</body>

</html>
