<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>PitstopOil Management</title>

  <link rel="stylesheet" href="about-us.component.css">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<div class="topnav">
  <a href="interface">Menu</a>
  <a href="shop">Shop</a>
  <a href="userOrders">Orders</a>
  <a href="userHistory">History</a>
  <a href="userContact">Contact</a>
  <a class="active" href="aboutUs">About Us</a>
  <input type="text" placeholder="Search..">
</div>

<header>

  <div class="headerul">

    <iframe src="https://ntmaker.gfto.ru/newneontexten/?image_height=600&image_width=600&image_font_shadow_width=30&image_font_size=80&image_background_color=1F1F1F&image_text_color=B04AFF&image_font_shadow_color=5F14F7&image_url=http://bgfons.com/uploads/brick/brick_texture1885.jpg&image_text=About Us&image_font_family=Nickainley&" frameborder='no' scrolling='no' width="600" height="600"></iframe>  </div>
</header>

<main>

<div class="aboutus">

  <iframe class="iframe" src="https://ntmaker.gfto.ru/newneontexten/?image_height=600&image_width=600&image_font_shadow_width=30&image_font_size=80&image_background_color=1F1F1F&image_text_color=B04AFF&image_font_shadow_color=5F14F7&image_url=http://bgfons.com/uploads/brick/brick_texture1885.jpg&image_text=A website designed by a young team with the purpose of easing the buying procedure of the oil change parts.&image_font_family=Nickainley&" frameborder='no' scrolling='no' width="600" height="600"></iframe>

</div>

<div class="credits"><p><iframe src="https://ntmaker.gfto.ru/newneontexten/?image_height=600&image_width=600&image_font_shadow_width=30&image_font_size=80&image_background_color=9D00FF&image_text_color=B04AFF&image_font_shadow_color=5F14F7&image_url=&image_text=Licensed by Lenart's&image_font_family=Nickainley&" frameborder='no' scrolling='no' width="600" height="600"></iframe></p></div>


</main>



</body>

</html>
