<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>PitstopOil Management</title>

  <link rel="stylesheet" href="user-contact.component.css">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >


<div class="topnav">
  <a href="interface">Menu</a>
  <a  href="shop">Shop</a>
  <a href="userOrders">Orders</a>
  <a href="userHistory">History</a>
  <a class="active" href="userContact">Contact</a>
  <a href="aboutUs">About Us</a>
  <input type="text" placeholder="Search..">
</div>

<header>

  <div class="headerul">

    <iframe src="https://ntmaker.gfto.ru/newneontexten/?image_height=600&image_width=600&image_font_shadow_width=30&image_font_size=80&image_background_color=1F1F1F&image_text_color=B04AFF&image_font_shadow_color=5F14F7&image_url=http://bgfons.com/uploads/brick/brick_texture1885.jpg&image_text=Contact Us&image_font_family=Nickainley&" frameborder='no' scrolling='no' width="600" height="600"></iframe>
  </div>

</header>

<main>

  <div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>CONTACT</span>
              <span>US</span>
            </div>
            <div class="app-contact">CONTACT INFO : +40 725 910 826</div>
          </div>
          <div class="screen-body-item right">
            <div class="app-form" >
              <div class="app-form-group">
                <input class="app-form-control" placeholder="NAME" value="">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="EMAIL">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="CONTACT NO">
              </div>
              <div class="app-form-group message">
                <input class="app-form-control" placeholder="MESSAGE">
              </div>
              <div class="app-form-group buttons">
                <button class="app-form-button">CANCEL</button>
                <button class="app-form-button">SEND</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>




</body>

</html>
